fastapi
uvicorn[standard]
faiss-cpu
google-genai
groq
python-multipart
pydantic
pydantic-settings
numpy
gitpython
langchain-text-splitters
python-dotenv
passlib[bcrypt]
bcrypt
sqlalchemy
psycopg2-binary
requests
sentence-transformers
